#nav_sticky {
    overflow: hidden;
    background-color: #433D8B;
    border: solid;
    border-color: #2E236C;
    color: aliceblue;
    justify-content: space-around;
    /* visibility: hidden; */
    z-index: 2;
    margin-bottom: 15px;
}

#nav_sticky a {
    float: left;
    display: block;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}

/* .content {
    padding: 16px;
} */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
/* 
.sticky {
    padding-top: 60px;
} */